<section id="footer">
	<ul class="icons">
		<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="#" class="fa-qq"><span class="label">QQ</span></a></li>
		<li><a href="#" class="fa-weixin"><span class="label">weixin</span></a></li>
		<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
		<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
	</ul>
	<p class="copyright">
		&copy; Theme by: <a href="http://blog.csdn.net/hdfylol"
			target="_blank">汉代风云</a>.
	</p>
</section>