		<!-- Header -->
		<header id="header">
			<h1>
				<a href="${CPATH}/">${WEB_NAME!}</a>
			</h1>
			<nav class="links">
				<ul>
					<li><a href="${CPATH}/">首页</a></li>
      	<@jp_menu>
        	<#list menus as menu>
        		<li >
        		<a  href="${menu.text!}">${menu.title!}
        		<#if menu.flag ??>
        			<span class="x-a-border"></span>
        		</#if>
        		</a>
        		</li>
        	</#list>
        </@jp_menu>
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search"><a class="fa-search" href="#search">Search</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="你想要找什么" />
						</form></li>
					<!-- <li class="menu"><a class="fa-bars" href="#menu">Menu</a></li> -->
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		
		<!-- <section id="menu">

			Search
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="你想要找什么" />
				</form>
			</section>

			Links
			<section>
				<ul class="links">
					<li><a href="#">
							<h3>Lorem ipsum</h3>
							<p>Feugiat tempus veroeros dolor</p>
					</a></li>
					<li><a href="#">
							<h3>Dolor sit amet</h3>
							<p>Sed vitae justo condimentum</p>
					</a></li>
					<li><a href="#">
							<h3>Feugiat veroeros</h3>
							<p>Phasellus sed ultricies mi congue</p>
					</a></li>
					<li><a href="#">
							<h3>Etiam sed consequat</h3>
							<p>Porta lectus amet ultricies</p>
					</a></li>
				</ul>
			</section>

			Actions
			<section>
				<ul class="actions vertical">
					<li><a href="${CPATH}/admin" class="button big fit">登录后台</a></li>
				</ul>
			</section>
           
		</section> -->
